{% extends "base.html" %} {% block content %}
<h1 class="container blue">About | Charlie Blog 🫶</h1>
<div class="container">
  <md-list>
    <md-list-item>
      <h2>Project Definition</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        The Charlie Blog Project was created to be a lightweight, easily
        deployable, and easily modifyable blog platform. Both Users and
        Administrators can create and interact with posts, offering a unique
        platform where fans and creators have equal rights to share.
      </p>
    </md-list-item>
    <md-list-item>
      <h2>Project Technologies</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Charlie Blog is built on a small set of open source libraries and
        technologies, focusing on compatability and ease of development. Amongst
        those technologies are:
      </p>
    </md-list-item>
    <md-list-item>
      <ul>
        <li>
          <a
            href="https://flask.palletsprojects.com/en/stable/"
            class="styled-link"
            >Flask</a
          >
          - Python-based WSGI web application framework
        </li>
        <li>
          <a
            href="https://jinja.palletsprojects.com/en/stable/"
            class="styled-link"
            >Jinja</a
          >
          - HTML templating language
        </li>
        <li>
          <a href="https://www.postgresql.org/" class="styled-link"
            >Postgresql</a
          >
          - Open source database
        </li>
        <li>
          <a href="https://www.sqlalchemy.org/" class="styled-link"
            >SQLAlchemy</a
          >
          - Database ORM (object relational mapper)
        </li>
        <li>
          <a href="https://material-web.dev/" class="styled-link"
            >Material Web</a
          >
          - Custom web components
        </li>
        <li>
          <a href="https://wtforms.readthedocs.io/en/3.2.x/" class="styled-link"
            >WTForms</a
          >
          - Form validation and rendering library
        </li>
        <li>
          <a href="https://www.heroku.com/" class="styled-link">Heroku</a>
          - Deployment
        </li>
        <li>
          <a
            href="https://github.com/crunchytee/charlie-blog"
            class="styled-link"
            >And more!</a
          >
          - Have a look at our GitHub for a comprehensive view of all
          technologies used
        </li>
      </ul>
    </md-list-item>
    <md-list-item>
      <h2>Project Methodology</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Charlie Blog was constructed following a plan-based waterfall
        methodology. Each stage of the model was strictly adhered to, allowing
        for a robust application to be built that also includes documentation.
        Learn more about the project specifcations
        <a class="styled-link" href="{{url_for('credits')}}">Here.</a>
      </p>
    </md-list-item>
  </md-list>
</div>
<h2 class="container blue">About The Team ✏️</h2>
<div class="footer">
  <div class="container footer-container-first">
    <img
      class="bio-img"
      src="https://cdn.shopify.com/s/files/1/0571/5250/3870/files/1611714902762.jpg?v=1732991434"
      alt="Image of Tosh"
    />
    <md-list>
      <md-list-item>
        <h2>Tosh Roberts Brockway</h2>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <h3>Work Experience</h3>
      </md-list-item>
      <md-list-item>
        <p>
          Director of eCommerce at REV Rides, Freelance eCommerce consultation
          and development.
        </p>
      </md-list-item>
      <md-list-item>
        <h3>Education</h3>
      </md-list-item>
      <md-list-item>
        <p>
          Computer Science Student at California State University, Sacramento
        </p>
      </md-list-item>
      <md-list-item>
        <h3>Skills And Qualifications</h3>
      </md-list-item>
      <md-list-item>
        <p>
          eCommerce frontend development (Shopify), Google Ecosystem (Search,
          Ads, Merchant, Analytics), API Development (Webservices, Database)
        </p>
      </md-list-item>
    </md-list>
  </div>
  <div class="container footer-container">
    <img
      class="bio-img"
      src="https://cdn.shopify.com/s/files/1/0571/5250/3870/files/PXL_20230527_2321372392.jpg?v=1732998454"
      alt="Image of Serhii"
    />
    <md-list>
      <md-list-item>
        <h2>Serhii Demchuk</h2>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <h3>Work Experience</h3>
      </md-list-item>
      <md-list-item>
        <p>Graphic Designer at REV Rides</p>
      </md-list-item>
      <md-list-item>
        <h3>Education</h3>
      </md-list-item>
      <md-list-item>
        <p>
          Computer Science Student at California State University, Sacramento
        </p>
      </md-list-item>
      <md-list-item>
        <h3>Skills And Qualifications</h3>
      </md-list-item>
      <md-list-item>
        <p>Graphic Design, Java, ML, Project Organization and Presentation</p>
      </md-list-item>
    </md-list>
  </div>
  <div class="container footer-container">
    <img
      class="bio-img"
      src="https://cdn.shopify.com/s/files/1/0571/5250/3870/files/20240304_195646.jpg?v=1732998608"
      alt="Image of AJ"
    />
    <md-list>
      <md-list-item>
        <h2>A.J. To</h2>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <h3>Education</h3>
      </md-list-item>
      <md-list-item>
        <p>
          Computer Science Student at California State University, Sacramento
        </p>
      </md-list-item>
      <md-list-item>
        <h3>Skills And Qualifications</h3>
      </md-list-item>
      <md-list-item>
        <p>Java, C++, Data Structures and Algorithms</p>
      </md-list-item>
    </md-list>
  </div>
  <div class="container footer-container">
    <img
      class="bio-img"
      src="https://cdn.shopify.com/s/files/1/0571/5250/3870/files/IMG_2466.jpg?v=1733002685"
      alt="Image of Alexander"
    />
    <md-list>
      <md-list-item>
        <h2>Alexander Bubienko</h2>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <h3>Education</h3>
      </md-list-item>
      <md-list-item>
        <p>
          Computer Science Student at California State University, Sacramento
        </p>
      </md-list-item>
      <md-list-item>
        <h3>Skills And Qualifications</h3>
      </md-list-item>
      <md-list-item>
        <p>Java, Object Oriented Programming, Data Structures and Algorithms</p>
      </md-list-item>
    </md-list>
  </div>
</div>
{% endblock %}
