{% extends "base.html" %} {% block content %}
<div class="container">
  <form action="/posts/create" method="post" class="form">
    <h1 class="container green">Add Post</h1>
    {{ form.hidden_tag() }}
    <p>
      {{ form.title.label }}<br />
      {{ form.title( class="form-input") }}<br />
      {% for error in form.title.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.body_html.label }}<br />
      {{ form.body_html(class="form-input") }}<br />
      {% for error in form.body_html.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.banner_image.label }}<br />
      {{ form.banner_image(class="form-input") }}<br />
      {% for error in form.banner_image.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      *Banner Images must be submitted as a URL link to an image - this site is
      hosted on a potato
    </p>
    <p>{{ form.submit(class="container orange button") }}</p>
  </form>
</div>
{% endblock %}
