<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %} {% if title %}
    <title>{{ title }} | Charlie</title>
    {% else %}
    <title>Charlie</title>
    {% endif %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Import Material-web -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import "@material/web/all.js";
      import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    <!-- End import material-web -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    {% endblock %}
  </head>
  <body>
    {% include "_header.html"%}
    <div class="body">
      <div class="header">{% include "_navbar.html"%}</div>
      <div class="main">
        {% include "_popups.html"%}
        <div class="main-content">{% block content %} {% endblock %}</div>
      </div>
    </div>
    <div>{% include "_footer.html" %}</div>
  </body>
</html>
