<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %} {% if title %}
    <title>{{ title }} | Charlie</title>
    {% else %}
    <title>Charlie</title>
    {% endif %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Import Material-web -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
    </script>
    <script type="module">
      import "@material/web/all.js";
      import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";

      document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap");

      :root {
        --md-ref-typeface-brand: "Archivo";
        --md-ref-typeface-plain: "Archivo";
      }
    </style>
    <!-- End import material-web -->
    {% endblock %}
  </head>
  <body>
    {% include "_navbar.html"%} {% with messages = get_flashed_messages()%} {%
    if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div class="content">{% block content %} {% endblock %}</div>
    {% include "_footer.html" %}
  </body>
</html>
