{% extends "base.html" %} {% block content %}
<div class="container">
  <form action="" method="post" class="form">
    <h1 class="container green">Contact Us!</h1>
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}<br />
      {{ form.name(class="form-input") }}<br />
      {% for error in form.name.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.email.label }}<br />
      {{ form.email(class="form-input") }}<br />
      {% for error in form.email.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.phone_number.label }}<br />
      {{ form.phone_number(class="form-input") }}<br />
      {% for error in form.phone_number.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.message.label }}<br />
      {{ form.message(class="form-input") }}<br />
      {% for error in form.message.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit(class="container orange button") }}</p>
  </form>
</div>
{% endblock %}
