{% extends "base.html" %} {% block content %}
<h1 class="container blue">Credits | Charlie Blog 🫶</h1>
<div class="container">
  <md-list>
    <md-list-item>
      <p>
        This page discusses the portions of the project that were completed by
        each member. Charlie Blog was developed as a group project. Learn more
        about the authors
        <a class="styled-link" href="{{url_for('about')}}">Here.</a>
      </p>
    </md-list-item>
    <md-list-item>
      <h2>📏 Specification</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Working from an initial requirements sheet, the Software Requirements
        Specification document was created by Tosh Roberts Brockway. This
        document outlined each function of the software that was to be created,
        and the specifications that the function should follow.
      </p>
    </md-list-item>
    <md-list-item>
      <h2>🖌️ Design</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        With a strong understanding of the project requirements, Tosh and Serhii
        Demchuck built all the design documents for Charlie Blog. Serhii focused
        on UI (User Interface) and Use Case diagrams to define the look, feel,
        and interaction of the software. Tosh did the UML Class Diagrams,
        Algorithm Design, Database Design, and Stack Design.
      </p>
    </md-list-item>
    <md-list-item>
      <h2>🖥️ Implementation</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        After all design was completerd, Charlie Blog was implemented by Tosh
        Roberts Brockway according to the design diagrams, and specifications.
        The current release of Charlie Blog is v1.0
      </p>
    </md-list-item>
    <md-list-item>
      <h2>🐛 Testing</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        With a candidate prepared, Charlie Blog was tested by Alexander Bubienko
        and AJ To for functionality, Validation, Performance, and Acceptance.
      </p>
    </md-list-item>
    <md-list-item>
      <h2>💡 Deployment</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>Charlie blog was deployed by Tosh to Heroku</p>
    </md-list-item>
    <md-list-item>
      <h2>🚧 Maintenance</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Charlie Blog is maintained by Tosh Roberts Brockway. Future releases, if
        any, will be pushed to this live URL.
      </p>
    </md-list-item>
    <md-list-item>
      <h2>⚙️ Project requirements</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Presentation organized by AJ To and Serhii Demchuk. Documentation by all
        team members.
      </p>
    </md-list-item>
  </md-list>
</div>
{% endblock %}
