{% extends "base.html" %} {% block content %}
<h1 class="container blue">Credits | Charlie Blog 🫶</h1>
<div class="container">
  <md-list>
    <md-list-item>
      <h2>Specification</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>sdaf</p>
    </md-list-item>
    <md-list-item>
      <h2>Design</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Charlie Blog is built on a small set of open source libraries and
        technologies, focusing on compatability and ease of development. Amongst
        those technologies are:
      </p>
    </md-list-item>
    <md-list-item>
      <h2>Implementation</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Charlie Blog was constructed following a plan-based waterfall
        methodology. Each stage of the model was strictly adhered to, allowing
        for a robust application to be built that also includes documentation.
      </p>
    </md-list-item>
    <md-list-item>
      <h2>Testing</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Charlie Blog was constructed following a plan-based waterfall
        methodology. Each stage of the model was strictly adhered to, allowing
        for a robust application to be built that also includes documentation.
      </p>
    </md-list-item>
    <md-list-item>
      <h2>Deployment</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Charlie Blog was constructed following a plan-based waterfall
        methodology. Each stage of the model was strictly adhered to, allowing
        for a robust application to be built that also includes documentation.
      </p>
    </md-list-item>
    <md-list-item>
      <h2>Maintenance</h2>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>
        Charlie Blog was constructed following a plan-based waterfall
        methodology. Each stage of the model was strictly adhered to, allowing
        for a robust application to be built that also includes documentation.
      </p>
    </md-list-item>
  </md-list>
</div>
{% endblock %}
