{% extends "base.html" %} {% block content %}
<h1 id="title">Hi, {{ current_user.username }}!</h1>
{% for post in posts %}
<div
  style="
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #ebebeb;
    margin: 5px;
    padding: 10px;
  "
>
  {% if post.title %}
  <h2>{{ post.title[0]|upper }}{{ post.title[1:] }}</h2>
  {% else %}
  <h2>No title</h2>
  {% endif %}
  <h3>
    By: {{ post.author.username }} on {{ post.timestamp.month }}/{{
    post.timestamp.day }}/{{ post.timestamp.year }}
  </h3>
  <p>{{ post.body_html | safe }}</p>
  {% if post.user_id == current_user.id %}
  <p>Likes: {{post.likes}} Dislikes: {{ post.dislikes }}</p>
  <a href="/post/{{post.id}}/edit">Edit Post</a>
  {% else %}
  <p>Likes: {{post.likes}} Dislikes: {{ post.dislikes }}</p>
  <a href="/post/{{post.id}}/like">Like</a>
  <a href="/post/{{post.id}}/dislike">Dislike</a>
  {% endif %}
</div>
{% endfor %}
<script>
  // Get the title element, store it in the variable title
  var title = document.getElementById("title");
  // Add a listener for when you hover your mouse over the title box, and a function to be called when you do
  title.addEventListener("mouseover", function () {
    // When you do hover over, change the color of the title to green
    title.style.color = "green";
  });

  // Listener for when you stop hovering over the title -> Change back to black
  title.addEventListener("mouseout", function () {
    title.style.color = "black";
  });
</script>
{% endblock %}
