{% extends "base.html" %} {% block content %} {% if current_user.is_anonymous%}
<h1 class="container blue">Welcome to Charlie Blog 🫶</h1>
{% else %}
<h1 class="container blue">
  🤩 Hi, {{ current_user.username }}! Thanks for stopping by
</h1>
{% endif %} {% for post in posts %} {% include "_post-card.html"%} {% endfor %}
<div class="container paginate-buttons">
  {% if prev_page %}
  <a class="container orange button" href="{{prev_page}}">👶 Newer posts</a>
  {% endif %} {% if next_page %}
  <a class="container orange button" href="{{next_page}}">Older Posts 👴</a>
  {% endif %}
</div>
{% endblock %}
