{% extends "base.html" %} {% block content %}
<div class="container">
  <form action="/login" method="post" class="form">
    <h1 class="container green">Sign In</h1>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br />
      {{ form.username(class="form-input") }}<br />
      {% for error in form.username.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br />
      {{ form.password(class="form-input") }}<br />
      {% for error in form.password.errors %}
      <span class="form-error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.remember_me(class="form-input") }} {{ form.remember_me.label }}
    </p>
    <p>{{ form.submit(class="container orange button") }}</p>
    <p>
      New User?
      <a class="styled-link" href="{{ url_for('register') }}">Sign Up</a>
    </p>
  </form>
</div>
{% endblock %}
