{% extends "base.html" %} {% block content %}
<div
  style="
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #ebebeb;
    margin: 5px;
    padding: 10px;
  "
>
  {% if post.title %}
  <h1>{{ post.title[0]|upper }}{{ post.title[1:] }}</h1>
  {% else %}
  <h1>No title</h1>
  {% endif %}
  <h3>
    By: {{ post.author.username }} on {{ post.timestamp.month }}/{{
    post.timestamp.day }}/{{ post.timestamp.year }}
  </h3>
  <p>{{ post.body_html | safe }}</p>
  {% if post.user_id == current_user.id %}
  <p>Likes: {{post.likes}} Dislikes: {{ post.dislikes }}</p>
  <a href="/post/{{post.id}}/edit">Edit</a>
  <a href="/post/{{post.id}}/delete">Delete</a>
  {% else %}
  <p>Likes: {{post.likes}} Dislikes: {{ post.dislikes }}</p>
  <a href="/post/{{post.id}}/like">Like</a>
  <a href="/post/{{post.id}}/dislike">Dislike</a>
  {% endif %}
</div>
{% endblock %}
