{% extends "base.html" %} {% block content %}
<script>
  function showCommentForm() {
    document.getElementById("comment-form").style.display = "block";
    document.getElementById("show-comment-form").style.display = "none";
  }
  function likePost(postId) {
    fetch(`/post/${postId}/like`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById(`like-count-${postId}`).innerText = data.likes;
      })
      .catch((error) => console.error("error: ", error));
  }
  function dislikePost(postId) {
    fetch(`/post/${postId}/dislike`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById(`dislike-count-${postId}`).innerText =
          data.dislikes;
      })
      .catch((error) => console.error("error: ", error));
  }
  function likeComment(commentId) {
    fetch(`/comment/${commentId}/like`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById(`comment-like-count-${commentId}`).innerText =
          data.likes;
      })
      .catch((error) => console.error("error: ", error));
  }
  function dislikeComment(commentId) {
    fetch(`/comment/${commentId}/dislike`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById(
          `comment-dislike-count-${commentId}`
        ).innerText = data.dislikes;
      })
      .catch((error) => console.error("error: ", error));
  }
</script>
<div
  style="
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: #ebebeb;
    margin: 5px;
    padding: 10px;
  "
>
  {% if post.title %}
  <h1>{{ post.title[0]|upper }}{{ post.title[1:] }}</h1>
  {% else %}
  <h1>No title</h1>
  {% endif %}
  <h3>
    By: {{ post.author.username }} on {{ post.timestamp.month }}/{{
    post.timestamp.day }}/{{ post.timestamp.year }}
  </h3>
  <p>{{ post.body_html | safe }}</p>
  <p>
    Likes: <span id="like-count-{{post.id}}">{{post.likes}}</span> Dislikes:
    <span id="dislike-count-{{post.id}}">{{ post.dislikes }}</span>
  </p>
  {% if post.user_id == current_user.id %}
  <div
    style="
      border-style: solid;
      border-radius: 5px;
      border-width: 1px;
      margin: 5px;
      padding: 10px;
    "
  >
    <p>Post Administration</p>
    <a href="/post/{{post.id}}/edit">Edit</a>
    <a href="/post/{{post.id}}/delete">Delete</a>
  </div>
  {% elif not current_user.is_anonymous%}
  <button onclick="likePost('{{post.id}}')">Like</button>
  <button onclick="dislikePost('{{post.id}}')">Dislike</button>
  {% else %}
  <p>
    <a href="{{url_for('login')}}">Log In</a> to react or comment on this post
  </p>
  {% endif %} {% if post.comments %}
  <h2>Comments</h2>
  {% for comment in post.comments %}
  <div>
    <h4>{{ comment.author.username }}</h4>
    <p>
      On {{ comment.timestamp.month }}/{{ comment.timestamp.day }}/{{
      comment.timestamp.year }}
    </p>
    <p>{{ comment.comment }}</p>
    <p>
      Likes:
      <span id="comment-like-count-{{comment.id}}">{{comment.likes}}</span>
      Dislikes:
      <span id="comment-dislike-count-{{comment.id}}"
        >{{ comment.dislikes }}</span
      >
    </p>
    {% if not current_user.is_anonymous%}
    <button onclick="likeComment('{{comment.id}}')">Like</button>
    <button onclick="dislikeComment('{{comment.id}}')">Dislike</button>
    {% endif %}
  </div>
  {% endfor %} {% else %}
  <div><p>No Comments. Add yours!</p></div>
  {% endif %}
  <button id="show-comment-form" onClick="showCommentForm()">
    Add Comment
  </button>
  <div id="comment-form" style="display: none">
    {% if current_user.is_anonymous %}
    <p>
      You need to
      <a href="{{url_for('login')}}?next=/post/{{post.id}}">Login</a> before you
      can add a comment.
    </p>
    {% else %}
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.comment.label }}<br />
        {{ form.comment(size=32) }}<br />
        {% for error in form.comment.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
