{% extends "base.html" %} {% block content %}
<h1>Update Post</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.title.label }}<br />
    {{ form.title(size=50, value=post.title) }}<br />
    {% for error in form.title.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.body_html.label }}<br />
    <textarea name="{{ form.body_html.name }}">{{post.body_html}}</textarea>
    {% for error in form.body_html.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
  <a href="{{url_for('index')}}">Cancel changes and return to home</a>
</form>
{% endblock %}
